<section class="lu-what-new">
      <div class="container text-center">
          <h1 class="lu-section-title">Some Features Of Coin Compass...</h1>

          <div class="row">
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-btc"></i>
                  </div>
                  <h3>Buy</h3>
                  <div class="lu-new-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc id ex eleifend faucibus. Aliquam et enim purus. Quisque tristique magna ut auctor ultricies. Suspendisse at tortor pellentesque, sollicitudin turpis in, faucibus erat. Donec .</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-btc"></i>
                  </div>
                  <h3>Sell</h3>
                  <div class="lu-new-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc id ex eleifend faucibus. Aliquam et enim purus. Quisque tristique magna ut auctor ultricies. Suspendisse at tortor pellentesque, sollicitudin turpis in, faucibus erat. Donec </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lu-new-feature">
                  <div class="lu-new-feature-icon">
                    <i class="fa fa-users"></i>
                  </div>
                  <h3>Secure</h3>
                  <div class="lu-new-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc id ex eleifend faucibus. Aliquam et enim purus. Quisque tristique magna ut auctor ultricies. Suspendisse at tortor pellentesque, sollicitudin turpis in, faucibus erat. Donec </div>
              </div>
            </div>
          </div>
      </div>
    </section>